
<div class ="container">
 <div style="margin-left:15%; display:block;" class= "content">
      <div class="single_post">
        <div class = "post_title"> <p> <%= @single_post.title %> </p> </div>
        <div class = "post_content"> <p><%= @single_post.content %> </p> </div>
        <div class = "post_author"> <p> Author: <%= @single_post.author %> </p> </div>
        <div class ="post_tag"> <p>Tag:</p></div>
      </div>
    </div>

</div>
